services:
  apps_privet_super_api:
    build:
      context: ../server
      dockerfile: Dockerfile
    container_name: apps-privet_super_api
    environment:
      DATABASE_URL: postgresql+psycopg://privet:privet@host.docker.internal:5432/privetdb
      JWT_SECRET: change_me_backend_secret
      MASTER_JWT_SECRET: change_me_master_secret
      MASTER_ACCESS_TOKEN_EXPIRE_MINUTES: "120"
      S3_ENDPOINT: http://host.docker.internal:9000
      S3_ACCESS_KEY: minioadmin
      S3_SECRET_KEY: minioadmin
      S3_BUCKET: privet-bucket
    ports:
      - "8200:8000"
    networks:
      - privetmaster_net

  apps_privet_super_migrator:
    build:
      context: ../server
      dockerfile: Dockerfile
    container_name: apps-privet_super_migrator
    environment:
      DATABASE_URL: postgresql+psycopg://privet:privet@host.docker.internal:5432/privetdb
      JWT_SECRET: change_me_backend_secret
      MASTER_JWT_SECRET: change_me_master_secret
      MASTER_ACCESS_TOKEN_EXPIRE_MINUTES: "120"
      S3_ENDPOINT: http://host.docker.internal:9000
      S3_ACCESS_KEY: minioadmin
      S3_SECRET_KEY: minioadmin
      S3_BUCKET: privet-bucket
    command: ["/app/scripts/docker_entrypoint.sh", "echo", "migrations finished"]
    networks:
      - privetmaster_net
    profiles: ["migrate"]

networks:
  privetmaster_net:
    driver: bridge
