services:
  apps_privet_super_api:
    build:
      context: ../server
      dockerfile: Dockerfile
    image: apps-privet_super_api
    container_name: apps-privet_super_api
    env_file:
      - ../server/.env
    environment:
      DATABASE_URL: postgresql+psycopg://privet:privet@infra-db:5432/privetdb
      JWT_SECRET: change_me_backend_secret
      MASTER_JWT_SECRET: change_me_master_secret
      MASTER_ACCESS_TOKEN_EXPIRE_MINUTES: "120"
      S3_ENDPOINT: http://infra-minio:9000
      S3_PUBLIC_ENDPOINT: http://localhost:9000
      S3_ACCESS_KEY: minioadmin
      S3_SECRET_KEY: minioadmin
      S3_BUCKET: privet-bucket
    ports:
      - "8200:8000"
    networks:
      - privet_infra

  apps_privet_super_migrator:
    build:
      context: ../server
      dockerfile: Dockerfile
    image: apps-privet_super_api
    container_name: apps-privet_super_migrator
    env_file:
      - ../server/.env
    environment:
      DATABASE_URL: postgresql+psycopg://privet:privet@infra-db:5432/privetdb
      JWT_SECRET: change_me_backend_secret
      MASTER_JWT_SECRET: change_me_master_secret
      MASTER_ACCESS_TOKEN_EXPIRE_MINUTES: "120"
      S3_ENDPOINT: http://infra-minio:9000
      S3_PUBLIC_ENDPOINT: http://localhost:9000
      S3_ACCESS_KEY: minioadmin
      S3_SECRET_KEY: minioadmin
      S3_BUCKET: privet-bucket
    command: ["/app/scripts/docker_entrypoint.sh", "echo", "migrations finished"]
    networks:
      - privet_infra
    profiles: ["migrate"]

networks:
  privet_infra:
    external: true
